
.cust-profile {
    font-size: 246px;
    text-align: center;
}
.checkbox-left {
    width: 10%;
    text-align: left;
}
.extra-space {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
